// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #33cccc;

$title-color:       #ffffff;
$moreinfo-color:    #ffffff;

$meter-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

    background-color: $background-color;

    input.meter {
        background-color: $meter-background;
        color: #ffffff;
    }

    .title {
        color: $title-color;
        font-size: 130%;
    }

    .more-info {
        color: $moreinfo-color;
    }

    .updated-at {
        color: #ffffff;
    }


}
