// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eeeeee;

$title-color:       #ffffff;
$moreinfo-color:    #ffffff;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-timeline {

  background-color: $background-color;
  padding-bottom: 0px;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .event-description {
  	fill: black;
  	font-size: 16px;
  }

  .event-description-date {
  	fill: black;
  	font-size: 14px;
  }
}