<div >
    <ul class="topMenu">
        <li class="topRow">
            <a href="/sensors">Датчики</a>
        </li>
        <li class="topRow">
            <a class="menu active"  href="/control">Устройства</a>
        </li>
    </ul>
</div>
<div class="gridster">
    <ul>
    </ul>
</div>