<div >
    <ul class="topMenu">
        <li class="topRow">
            <a class="menu active" href="/sensors">Датчики</a>
        </li>
        <li class="topRow">
            <a href="/control">Устройства</a>
        </li>
    </ul>
</div>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div class="temperature" data-id="temperature" data-view="Number" data-title="Температура" ></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div class="humidity" data-id="humidity" data-view="Number" data-title="Влажность" ></div>
        </li>
        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
            <div class="motion" data-id="motion" data-view="State" data-title="Движение" ></div>
        </li>
    </ul>
</div>